<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="classes" thread-count="8">

	<listeners>
		<listener
			class-name="com.cpcommunity.ExtentListeners.ExtentListeners"></listener>
		<listener
			class-name="com.uiFramework.pamTen.cpcommunity.helper.listener.RetryListener" />
	</listeners>

	<!-- 167 -->


	<test name="Test 1" preserve-order="true">
		<classes>
			<class
				name="com.cpcommunity.testScripts.community.TC205_Tenant_Admin_Create_Community" />
		</classes>
	</test>

	<test name="Test 2" preserve-order="true">
		<classes>
			<class
				name="com.cpcommunity.testScripts.community.TC206_Tenant_Admin_Add_Member_To_Community" />
			<class
				name="com.cpcommunity.testScripts.community.TC214_Verify_Active_Pricing_Plans_Count_is_Same_In_The_Pricing_Plans_Dropdown_While_Creating_A_Community" />
		</classes>
	</test>
	<test name="Test 3" preserve-order="true">
		<classes>
			<class
				name="com.cpcommunity.testScripts.community.TC207_Tenant_Admin_Make_Admin_Community" />
			<class
				name="com.cpcommunity.testScripts.community.TC212_Verify_TA_Created_Community_Is_Not_Displayed_In_Pending_Communities" />
		</classes>
	</test>
	<test name="Test 4" preserve-order="true">
		<classes>
			<class
				name="com.cpcommunity.testScripts.community.TC208_TA_Not_Able_To_Remove_Admin_Role_When_Only_One_Admin_To_The_Community" />

			<class
				name="com.cpcommunity.testScripts.community.TC213_Verify_The_Community_Feature_As_Per_Pricing_Plan" />
		</classes>
	</test>
	<test name="Test 5" preserve-order="true">
		<classes>
			<class
				name="com.cpcommunity.testScripts.community.TC209_Tenant_Admin_Remove_Admin_To_Community" />

			<class
				name="com.cpcommunity.testScripts.community.TC210_Tenant_Admin_Remove_Member_From_Community" />
			<class
				name="com.cpcommunity.testScripts.community.TC211_Verify_TA_Created_Community_Is_Displaying_In_The_Global_Communities_Page" />

		</classes>
	</test>
	<test name="Test 6" preserve-order="true">
		<classes>
			<class
				name="com.cpcommunity.testScripts.community.TC215_TA_Update_The_Community_Details" />
		</classes>
	</test>

	<test name="Test 7" preserve-order="true">
		<classes>
			<class
				name="com.cpcommunity.testScripts.community.TC216_Verify_TA_Updated_Community_Is_Displayed_In_Community_Details_Page" />
		</classes>
	</test>
	<test name="Test 8" preserve-order="true">
		<classes>
			<class
				name="com.cpcommunity.testScripts.community.TC217_TA_InActivate_The_Community" />
		</classes>
	</test>

	<test name="Test 9" preserve-order="true">
		<classes>
			<class
				name="com.cpcommunity.testScripts.community.TC218_Verify_TA_InActivated_Community_Is_Not_Displaying_In_The_Global_Communities_Page" />
		</classes>
	</test>

</suite> <!-- Suite -->
